@font-face {
    font-family: SuisseRegular;
    src: url("../fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
    font-family: PPEditorial;
    src: url("../fonts/PPEditorialNew-Italic.otf") format("opentype");
}